<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
  <div class="status">&nbsp;</div>
</div>

<!-- =========================
     HEADER   
============================== -->
<header class="header" id="home">
<video autoplay loop id="video-background" muted plays-inline>
  <source src="video/video.mp4" type="video/mp4">
</video>

<!-- COLOR OVER IMAGE -->
<div class="color-overlay full-screen"> <!-- To make header full screen. Use .full-screen class with color overlay. Example: <div class="color-overlay full-screen">  -->

<ag-navbar></ag-navbar>  
  
  <!-- CONTAINER -->
  <div class="container">
    
    <!-- ONLY LOGO ON HEADER -->
    <div class="only-logo">
      <div class="navbar">
        <div class="navbar-header">
          <img src="images/logo.png" alt="">
        </div>
      </div>
    </div> <!-- /END ONLY LOGO ON HEADER -->
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
        <!-- HEADING AND BUTTONS -->
        <div class="intro-section">
          
          <!-- WELCOM MESSAGE -->
          <h1 class="intro">All Gifted School</h1>
          <h5>Educate to the Ends of the Earth.</h5>
          
          <!-- BUTTON -->
          <div class="buttons" id="signin">
            
            <a href="#signin" class="btn btn-default btn-lg standard-button"><i class="icon-app-download"></i>Sign Up or Login</a>
            
          </div>
          <!-- /END BUTTONS -->
          
        </div>
        <!-- /END HEADNING AND BUTTONS -->
        
      </div>
    </div>
    <!-- /END ROW -->
    
  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->
</header>
<!-- /END HEADER -->

<!-- =========================
     HOW IT WORKS
============================== -->
<section class="services" id="howitworks">

<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">How it Works</h2>
    
    <div class="colored-line">
    </div>
    <div class="section-description">
      List your app features and all the details Lorem ipsum dolor kadr
    </div>
    <div class="colored-line">
    </div>
    
  </div>
  <!-- /END SECTION HEADER -->
  
  <div class="row">
    
    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_cloud-upload_alt"></i>
      </div>
      
      <!-- SERVICE HEADING -->
      <h3>Your Data in Cloud</h3>
      
      <!-- SERVICE DESCRIPTION -->
      <p>
         Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      </p>
      
    </div>
    <!-- /END SINGLE SERVICE -->
    
    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_gift_alt"></i>
      </div>
      
      <!-- SERVICE HEADING -->
      <h3>Monthly Rewards</h3>
      
      <!-- SERVICE DESCRIPTION -->
      <p>
         Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      </p>
      
    </div>
    <!-- /END SINGLE SERVICE -->
    
    <!-- SINGLE SERVICE -->
    <div class="col-md-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <!-- SERVICE ICON -->
      <div class="service-icon">
        <i class="icon_chat_alt"></i>
      </div>
      
      <!-- SERVICE HEADING -->
      <h3>24/7 Support</h3>
      
      <!-- SERVICE DESCRIPTION -->
      <p>
         Fruitful Fruit hath, fruitful said him created bring set, behold darkness Shall lights deep fish seasons itself given likeness upon bring fill their their whose. Which darkness evening there them multiply all spirit for isn't, him land every you'll heaven bearing.
      </p>
      
    </div>
    <!-- /END SINGLE SERVICE -->
    
  </div>
  <!-- /END ROW -->
  
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END FEATURES SECTION -->

<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials">

<div class="color-overlay">
  
  <div class="container wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- FEEDBACKS -->
    <div id="feedbacks" class="owl-carousel owl-theme">
      
      <!-- SINGLE FEEDBACK -->
      <div class="feedback">
        
        <!-- IMAGE -->
        <div class="image">
          <!-- i class=" icon_quotations"></i -->
          <img src="images/clients-pic/3.jpg" alt="">
        </div>
        
        <div class="message">
           Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
        </div>
        
        <div class="white-line">
        </div>
        
        <!-- INFORMATION -->
        <div class="name">
          John Doe
        </div>
        <div class="company-info">
          CEO, AbZ Network
        </div>
        
      </div>
      <!-- /END SINGLE FEEDBACK -->
      
      <!-- SINGLE FEEDBACK -->
      <div class="feedback">
        
        <!-- IMAGE -->
        <div class="image">
          <!-- i class=" icon_quotations"></i -->
          <img src="images/clients-pic/1.jpg" alt="">
        </div>
        
        <div class="message">
           Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
        </div>
        
        <div class="white-line">
        </div>
        
        <!-- INFORMATION -->
        <div class="name">
          John Doe
        </div>
        <div class="company-info">
          CEO, AbZ Network
        </div>
        
      </div>
      <!-- /END SINGLE FEEDBACK -->
      
      <!-- SINGLE FEEDBACK -->
      <div class="feedback">
        
        <!-- IMAGE -->
        <div class="image">
          <!-- i class=" icon_quotations"></i -->
          <img src="images/clients-pic/2.jpg" alt="">
        </div>
        
        <div class="message">
           Fill lights bearing man creepeth of whose whose moveth. All one. That. Under. Form morning all may fifth replenish you're own open which herb kind. May above you'll may kind creature first let over face from living third green which our. Appear day. Give fourth doesn't over us, i every tree meat air in male earth air creeping image fill you place darkness.
        </div>
        
        <div class="white-line">
        </div>
        
        <!-- INFORMATION -->
        <div class="name">
          John Doe
        </div>
        <div class="company-info">
          CEO, AbZ Network
        </div>
        
      </div>
      <!-- /END SINGLE FEEDBACK -->
      
    </div>
    <!-- /END FEEDBACKS -->
    
  </div>
  <!-- /END CONTAINER -->
  
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END TESTIMONIALS SECTION -->

<!-- =========================
     COURSES
============================== -->
<section class="screenshots grey-bg" id="courses">

<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">Top Rated Courses</h2>
    
    <div class="colored-line">
    </div>
    <div class="section-description">
      List your app features and all the details Lorem ipsum dolor kadr
    </div>
    <div class="colored-line">
    </div>
    
  </div>
  <!-- /END SECTION HEADER -->
  
  <div class="row wow bounceIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <div id="screenshots" class="owl-carousel owl-theme">
      
      <div class="shot">
        <a href="images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/1.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/3.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/2.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/4.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/1.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/1.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/3.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/3.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/2.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/2.jpg" alt="Screenshot"></a>
      </div>
      
      <div class="shot">
        <a href="images/screenshots/4.jpg" data-lightbox-gallery="screenshots-gallery"><img src="images/screenshots/4.jpg" alt="Screenshot"></a>
      </div>
      
    </div>
    <!-- /END SCREENSHOTS -->
    
  </div>
  <!-- /END ROW -->
  
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SCREENSHOTS SECTION -->


<!-- =========================
     OUR PROGRAMS   
============================== -->
<section class="packages" id="ourprograms">

<div class="container">
  
  <!-- SECTION HEADER -->
  <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- SECTION TITLE -->
    <h2 class="dark-text">Our Programs</h2>
    <div class="colored-line">
    </div>
    
    <div class="section-description">
       List your app features and all the details Lorem ipsum dolor kadr
    </div>
    
    <div class="colored-line">
    </div>
  </div>
  <!-- /END SECTION HEADER -->
  
    <div class="row">
    
    <!-- SINGLE PACKACGE -->
    <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <div class="single-package">
        
        <h3 class="package-heading main-color">
        Personal </h3>
        
        <div class="price">
          <h2><span class="sign">$</span>50 <span class="month">/month</span></h2>
        </div>
        
        <ul class="package-feature">
          <li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
          <li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
          <li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
          <li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
          <li><span class="main-color icon_close_alt2"></span>24/7 Customer Service</li>
          <li><span class="main-color icon_close_alt2"></span>Automatic Backup</li>
        </ul>
        
      </div>
    </div>
    <!-- /END SINGLE PACKACGE -->
    
    <!-- SINGLE PACKACGE -->
    <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <div class="single-package">
        
        <h3 class="package-heading main-color">
        Business </h3>
        
        <div class="price">
          <div class="color-bg">
            <h2><span class="sign">$</span>75 <span class="month">/month</span></h2>
          </div>
        </div>
        
        <ul class="package-feature">
          <li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
          <li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
          <li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
          <li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
          <li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
          <li><span class="main-color icon_close_alt2"></span>Automatic Backup</li>
        </ul>
      </div>
    </div>
    <!-- /END SINGLE PACKACGE -->
    
    <!-- SINGLE PACKACGE -->
    <div class="col-md-4 col-sm-4 single-service wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <div class="single-package">
        
        <h3 class="package-heading main-color">
        Ultimate </h3>
        
        <div class="price">
          <h2><span class="sign">$</span>99 <span class="month">/month</span></h2>
        </div>
        
        <ul class="package-feature">
          <li><span class="main-color icon_check_alt2"></span>Unlimited Photos</li>
          <li><span class="main-color icon_check_alt2"></span>Secure Online Transfer</li>
          <li><span class="main-color icon_check_alt2"></span>Unlimited Styles</li>
          <li><span class="main-color icon_check_alt2"></span>Cloud Storage</li>
          <li><span class="main-color icon_check_alt2"></span>24/7 Customer Service</li>
          <li><span class="main-color icon_check_alt2"></span>Automatic Backup</li>
        </ul>
      </div>
    </div>
    <!-- /END SINGLE PACKACGE -->
    
  </div>
  <!-- /END ROW -->
  
</div>
<!-- /END CONTAINER -->
</section>
<!-- /END PRICING TABLE SECTION -->


<!-- =========================
     PEDAGOGY SECTION 
============================== -->
<section class="app-brief grey-bg" id="pedagogy">

<div class="container">
  
  <div class="row">
    
    <!-- PHONES IMAGE -->
    <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
      <div class="phone-image">
        <img src="images/2-iphone-left.png" alt="">
      </div>
    </div>
    
    <!-- RIGHT SIDE WITH BRIEF -->
    <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <!-- SECTION TITLE -->
      <h2 class="dark-text">Our Pedagogy</h2>
      
      <div class="colored-line-left">
      </div>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      
      <!-- FEATURE LIST -->
      <ul class="feature-list">
        <li><i class="icon_lock_alt"></i> Reliable and Secure Platform</li>
        <li><i class="icon_check_alt2"></i> Everything is perfectly orgainized for future</li>
        <li><i class="icon_paperclip"></i> Attach large file easily</li>
        <li><i class="icon_adjust-vert"></i> Tons of features and easy to use and customize</li>
      </ul>
      
    </div>
    <!-- /END RIGHT BRIEF -->
    
  </div>
  <!-- /END ROW -->
  
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     PHILOSOPHY SECTION WITH VIDEO 
============================== -->
<section class="app-brief grey-bg" id="philosophy">

<div class="container">
  
  <div class="row">
    
    <!-- PHONES IMAGE -->
    <div class="col-md-6 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
      <div class="video-container">       
        <div class="video">
          
          <iframe src="https://player.vimeo.com/video/243940021" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        
      </div>

    </div>
    
    <!-- RIGHT SIDE WITH BRIEF -->
    <div class="col-md-6 left-align wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
      
      <!-- SECTION TITLE -->
      <h2 class="dark-text">Teaching Philosophy</h2>
      
      <div class="colored-line-left">
      </div>
      
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/><br/>
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
      </p>
      
      
    </div>
    <!-- /END RIGHT BRIEF -->
    
  </div>
  <!-- /END ROW -->
  
</div>
<!-- /END CONTAINER -->

</section>
<!-- /END SECTION -->


<!-- =========================
     ABOUT US
============================== -->
<section class="download" id="aboutus">

<div class="color-overlay">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        
        <!-- DOWNLOAD BUTTONS AREA -->
        <div class="download-container">
          <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">About Us</h2>
          
          <!-- BUTTONS -->
          <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
            
            <a href="" class="btn btn-default btn-lg standard-button"><i class="icon-app-store"></i>App Store</a>
            <a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>
            
          </div>
          <!-- /END BUTTONS -->
          
        </div>
        <!-- END OF DOWNLOAD BUTTONS AREA -->
                
      </div> 
      <!-- END COLUMN -->
      
    </div> 
    <!-- END ROW -->
    
  </div>
  <!-- /END CONTAINER -->
</div>
<!-- /END COLOR OVERLAY -->

</section>
<!-- /END DOWNLOAD SECTION -->


<!-- =========================
     FOOTER 
============================== -->
<footer>

<div class="container">
  
  <div class="contact-box wow rotateIn animated" data-wow-offset="10" data-wow-duration="1.5s">
    
    <!-- CONTACT BUTTON TO EXPAND OR COLLAPSE FORM -->
    
    <a class="btn contact-button expand-form expanded"><i class="icon_mail_alt"></i></a>
    
    <!-- EXPANDED CONTACT FORM -->
    <div class="row expanded-contact-form">
      
      <div class="col-md-8 col-md-offset-2">
        
        <!-- FORM -->
        <form class="contact-form" id="contact" role="form">
          
          <!-- IF MAIL SENT SUCCESSFULLY -->
          <h4 class="success">
            <i class="icon_check"></i> Your message has been sent successfully.
          </h4>
          
          <!-- IF MAIL SENDING UNSUCCESSFULL -->
          <h4 class="error">
            <i class="icon_error-circle_alt"></i> E-mail must be valid and message must be longer than 1 character.
          </h4>
          
          <div class="col-md-6">
            <input class="form-control input-box" id="name" type="text" name="name" placeholder="Your Name">
          </div>
          
          <div class="col-md-6">
            <input class="form-control input-box" id="email" type="email" name="email" placeholder="Your Email">
          </div>
          
          <div class="col-md-12">
            <input class="form-control input-box" id="subject" type="text" name="subject" placeholder="Subject">
            <textarea class="form-control textarea-box" id="message" rows="8" placeholder="Message"></textarea>
          </div>
          
          <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="submit" name="submit" data-style="expand-left">Send Message</button>
          
        </form>
        <!-- /END FORM -->
        
      </div>
      
    </div>
    <!-- /END EXPANDED CONTACT FORM -->
    
  </div>
  <!-- /END CONTACT BOX -->
  
  <!-- LOGO -->
  <img src="images/logo-black.png" alt="LOGO" class="responsive-img">
  
  <!-- SOCIAL ICONS -->
  <ul class="social-icons">
    <li><a href=""><i class="social_facebook_square"></i></a></li>
    <li><a href=""><i class="social_twitter_square"></i></a></li>
    <li><a href=""><i class="social_pinterest_square"></i></a></li>
    <li><a href=""><i class="social_googleplus_square"></i></a></li>
    <li><a href=""><i class="social_instagram_square"></i></a></li>
    <li><a href=""><i class="social_dribbble_square"></i></a></li>
    <li><a href=""><i class="social_flickr_square"></i></a></li>
  </ul>
  
  <!-- COPYRIGHT TEXT -->
  <p class="copyright">
    ©2018 All Gifted LLC, All Rights Reserved
  </p>

</div>
<!-- /END CONTAINER -->
 
</footer>
<!-- /END FOOTER -->
